*{
	margin: 0px;
	padding: 0px;
}

.features
{
	padding: 100px 0;
	background-color: #C9CCD0;
	font-family: sans-serif;
}
h1
{
	padding-bottom: 30px;
	text-align: center;
	color: #fff;
}
.gallery
{
	width:1300px;
	margin: 25px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
}
.gallery .smart{
	position: relative;
	width: 320px;
	height:375px;
	margin:10px;
	box-sizing: border-box;
	display: inline-block;
	background: black;
	padding:10px;
}

.gallery .box
{
	position: relative;
	width: 100%;
	height: 300px;
	background: #ffffff;
	margin:auto;
	box-sizing: border-box;
	display: inline-block;
}
.gallery .box .imgbox
{
	position: relative;
	overflow: hidden;
}
.gallery .box .imgbox img
{
	max-width: 100%;
	transition: transform 2s;
}
.gallery .box:hover .imgbox img
{
	transform: scale(1.2);
}
.gallery .box .details
{
	position: absolute;
	top: 10px;
	left: 10px;
	bottom:10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.gallery .box:hover .details
{
	transform: scaleY(1);
}
.gallery .box .details .content
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}
.gallery .box .details .content h2
{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ff0;
}
.gallery .box .details .content p
{
	margin: 10px 0 0;
	padding: 0;
	font-size: 10px;
}


